{#{% load staticfiles %}#}
{% extends 'base.html' %}
{% block body %}
    <h1 class="cover-heading">Добавьте ресурс</h1>
    <form action="" class="form-group" method="post" style="color: black">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="form-group" value="Submit" />
    </form>
{#            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>#}
{#            <p class="lead">#}
{#              <a href="#" class="btn btn-lg btn-default">Learn more</a>#}
{#            </p>#}
    <script type="text/javascript">
    $(function () {
{#        $('#datetimepicker6').datetimepicker();#}
{#        $('#datetimepicker7').datetimepicker({#}
{#            useCurrent: false //Important! See issue #1075#}
{#        });#}
{#        $("#datetimepicker6").on("dp.change", function (e) {#}
{#            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);#}
{#        });#}
{#        $("#datetimepicker7").on("dp.change", function (e) {#}
{#            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);#}
{#        });#}
        $('.calendar-field').datetimepicker({
            format: 'Y-m-d',
        });
    });
</script>
{% endblock %}
