{% extends 'base.html' %}
{% block body %}

{% if form.errors %}
<p>Ошибка входа.</p>
{% endif %}
{{ request.user }}
    {% if not request.user.is_authenticated %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
{#<form method="post" action="{% url 'login' %}">{% csrf_token %}#}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="/" />
</form>
{% else %}
        Вы уже вошли
    {% endif %}

{% endblock %}
