<ul class="nav masthead-nav" style="text-decoration-color: #101010">
{#        <li {% if request.path == '/' %}class="active" {% endif %}><a href="/" style="color: #000;">Главная</a></li>#}
        {% url 'list' as url %}
        {% if url %}
        <li {% if request.path == url %}class="active" {% endif %}><a href="{{ url }}" style="color: #000;">Все сайты</a></li>
        {% endif %}
        {% url 'real' as url %}
{% if url %}
        <li {% if request.path == url %}class="active" {% endif %}><a href="{{ url }}" style="color: #000;">Метрика</a></li>
{% endif %}
{% url 'add' as url %}
{% if url %}
        <li {% if request.path == url %}class="active" {% endif %}><a href="{{ url }}" style="color: #000;">Добавить ресурс</a></li>
{% endif %}
{#        <li><a href="#">Contact</a></li>#}
  </ul>