<nav>
  <li class="pagination">
{#    <li class="page-item">#}
{#      <a class="page-link" href="#" aria-label="Previous">#}
{#        <span aria-hidden="true">&laquo;</span>#}
{#        <span class="sr-only">Previous</span>#}
{#      </a>#}
{#    </li>#}
{#    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">4</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">5</a></li>#}
{#    <li class="page-item">#}
{#      <a class="page-link" href="#" aria-label="Next">#}
{#        <span aria-hidden="true">&raquo;</span>#}
{#        <span class="sr-only">Next</span>#}
{#      </a>#}
{#    </li>#}
    {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a></li>
    {% endif %}

    {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
      <li class="page-item"><a href="?page=1{% if get_params %}&{{ get_params }}{% endif %}" class="page-link">1</a>...</li>
    {% endif %}
    {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}{% if get_params %}&{{ get_params }}{% endif %}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    {% if page_obj.number %}
        <li class="page-item">{{ page_obj.number }}</li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}{% if get_params %}&{{ get_params }}{% endif %}" class="page-link">{{ page_obj.next_page_number }}</a></li>
    {% endif %}
    {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
      ...<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}{% if get_params %}&{{ get_params }}{% endif %}" class="page-link">{{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}

    {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперед</a></li>
    {% endif %}
  </ul>
</nav>
